html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
	background-color: black;
}

.canvas-holder {
	display: table;
	width: 100%;
	height: 100%;
}

#canvas {
	display: table-cell;
	vertical-align: middle;
	transition: 1s linear opacity;
}

canvas {
	margin: 0 auto;
}

#dialogbox {
	color: white;
	font-family: monospace;
	width: 400px;
	height: 150px;
	position: absolute;
	top: 65%;
	left: 50%;
	transform: translateX(-50%);
}
